.image{
width:180px;
height:180px;
}

.tlo{
width:800px;
height:1000;	
}

figure {
 display: block;
 position: relative;
 float: left;
 overflow: hidden;
 margin: 0 20px 20px 0;
 width:180px;
 height:180px;
}
figcaption {
position: absolute;
background: black;
background: rgba(39, 163, 135, 0.85);
color: white;
padding: 10px 10px;
width:160px;
font-size:16px;
opacity:50;
-webkit-transition: all 0.6s ease;
-moz-transition:    all 0.6s ease;
-o-transition:      all 0.6s ease;
}

figure:hover figcaption {
opacity: 1;
}

figure:before {
content: "";
position: absolute;
font-weight: 800;
background: #27a387;
background: #27a387;
text-shadow: 0 0 5px white;
color: black;
width: 0px;
height: 100px;
-webkit-border-radius: 12px;
-moz-border-radius:    12px;
border-radius:         12px;
text-align: center;
font-size: 20px;
line-height: 24px;
-moz-transition: all 0.6s ease;
opacity: 0.75;
}

figure:hover:before {
opacity: 0;
}

.cap-bot:before { bottom: 0px; left: 10px; }
.cap-bot figcaption { left: 5; bottom: -50%;}
.cap-bot:hover figcaption { bottom: 0; }