﻿@font-face
{
    font-family: "Open Sans";
    src: url('Open_Sans/OpenSans-Regular.ttf');
}

body{
background: #F6F6F6 url('bg.jpg') repeat-x;
margin: 0px;
font-family: "Open Sans";
font-size: 14px;
color: #323232;
}

.header{
text-align: center;
}

.container{
width: 1250px;
margin: 0 auto;
}

.column1{
float:left;
width:62%;
height:100%;
padding:20px 5px 0px 0px;
border-style:solid;
border-width:1px;	
border-color:#D6D6C2;
margin: 0 auto;
text-align: center;
}

.column2{
float:right;
width:34%;
height:100%;
padding:20px 5px 0px 0px;
border-style:solid;
border-width:1px;	
border-color:#D6D6C2;
text-align: center;
}

#navbar {
background: #27a387;
padding: 15px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top: 0px solid #F66800;
font-weight: normal;
font-style: normal;
font-size:14px;
}

#navbar_right{
float:right;
padding-bottom:10px;
}

#navbar_left{
float:left;
padding-top:5px;
margin-top:5px;
}

#navbar  ul {
display:inline;
}

#navbar  li {
display:inline;
}


#navbar li a {
text-decoration: none;
padding: 16px;
padding-left:20px;
padding-right:20px;
padding-top:15px;
color:#FFF;
background: #27a387;
border-radius: 2px;
}

#navbar li:hover  a {
background-color: #259A7E;
}

#navbar #navb > .active > a {
color: #FA582F;
border-radius: 2px;
font-weight:bold;
	
}

#navbar #nav_log > .active > a {
color: #FA582F;
border-radius: 2px;
font-weight:bold;
}

.rightbutton{
text-align:right;
}

.mainspace {
background: #CDCDCD;
padding: 1px;
margin-top: 1px;
}

.news {
min-height:500px;
background:#ECECEC;
padding:20px;

}

.clear{
clear:both;
} 

.image{
width:180px;
height:180px;
}

.imageTop{
width:210px;
height:210px;
}

.titleLastAdd{
height:25px;
width:350px;
text-align:right;
line-height: 20px;
font-size:16px;
color: #fff;
background-color:#27a387;
border-bottom-right-radius:10px;
border-top-right-radius:10px;
padding:13px 35px 6px 15px;
}

.titleTop{
height:25px;
width:250px;
text-align:right;
line-height: 20px;
font-size:16px;
color: #fff;
background-color:#27a387;
border-bottom-right-radius:10px;
border-top-right-radius:10px;
padding:13px 35px 6px 15px;
}

.holder{
text-align: center;
}

.footer {
color: #777777;
background: #242424;
padding: 10px;
margin: 0px;
height: 65px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
margin-bottom:30px;
}

.ft-left {
float: left;
width: 50%;
padding-top:15px;
}

.ft-right {
float: left;
width: 50%;
text-align: right;
}

h2 {
font-family: "Open Sans";
font-style: italic;
border-bottom: 1px dashed #DFDFDF;
}

h1 {
font-family: "Open Sans";
color:#27a387;
display: inline-block;
}

h3 {
font-family: "Open Sans";
font-style: italic;
}

h4 {
font-family: "Open Sans";
color:#27a387;

}

h5{
font-family: "Open Sans";
color:#27a387;
font-size: 200%;
}

i6{
font-family: "Open Sans";

font-size: 15px;
}

i7{
font-family: "Open Sans";
color:#FC7649;
font-size: 14px;
font-weight:bold;
}

.cap-bot{
display: block;
position: relative;
float: left;
background-color:#ECECEC;
overflow: hidden;
margin: 30px 49px 20px 20px;
width:180px;
height:180px;
text-align:center;
}

.cap-bot2{
position: relative;
background-color:#ECECEC;
overflow: hidden;
margin: 30px 37px 20px 20px;
width:210px;
height:210px;
text-align:center;
}

figcaption{
position: absolute;
background: black;
background: rgba(39, 163, 135, 0.85);
color: white;
padding: 10px 10px;

font-size:14px;
text-align:center;
opacity:50;
-webkit-transition: all 0.6s ease;
-moz-transition:    all 0.6s ease;
-o-transition:      all 0.6s ease;
}

.cap-bot figcaption { width:160px; left: 5; bottom: -50%;}
.cap-bot:hover figcaption { bottom: 0; }

.cap-bot2 figcaption{ width:190px; left: 5; bottom: -50%;}
.cap-bot2:hover figcaption { bottom: 0; }






