.column_left_add_cd{
float:left;
width:40%;
height:100%;
padding:0px 0px 0px 0px;
border-style:solid;
border-width:1px;	
border-color:#D6D6C2;
margin: 0 auto;
text-align: center;
}

.column_right_add_cd{
float:right;
width:58%;
height:100%;
padding:0px 0px 0px 10px;
border-style:solid;
border-width:1px;	
border-color:#D6D6C2;
margin: 0 auto;
}

.image_size{
background: #F6F6F6 url('no_foto.png');
opacity:0.9;
width:280px;
height:280px;
padding:10px;
background-color:white;
margin-top: 20px;
margin-left:auto;
margin-right:auto;
margin-bottom:20px;
text-align:center;
}

.image_show{
width:270px;
height:270px;
background-color:white;
margin-top: 5px;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
}

.input_size{
width:380px;
height:auto;
margin-left:20px;
margin-top:40px;
}

.input_add{
float:right;
margin: 0 0 0 5px;
}


.submit_add_cd_class{
float:left;
width: 460px;
height:auto;
padding:30px;
}

#submit_add_cd{
background:#FF6633;
}

#describe_cd{
height:108px;
float:left;
margin-left:116px;
resize: none;
padding:5px; 
color: #000;
border:1px solid #ccc; 
-webkit-border-radius: 1px;
border-radius: 1px;
}

