.search{
width: auto;
height: 50px;
margin: 0 auto;
text-align: center;
}

.column_right{
float:right;
width:83%;
height:100%;
padding:0px 0px 0px 0px;
border-style:solid;
border-width:1px;	
border-color:#D6D6C2;
margin: 0 auto;
text-align: center;
}

.column_left{
float:left;
width:15%;
height:100%;
padding:10px 5px 0px 0px;
border-style:solid;
border-width:0px;	
border-color:#D6D6C2;
text-align: center;
margin: 0 auto;
}

input[type=text]{
padding:5px; 
color: #000;
width: 250px;
height:15px;
border:1px solid #ccc; 
-webkit-border-radius: 1px;
border-radius: 1px;

}

input[type=text]:focus{
border-color:#fff;
border-radius: 1px;
}

input[type=submit]{
margin: 0;
padding:7px 15px; 
background:#27a387; 
color: #fff;
border:0 none;
cursor:pointer;
-webkit-border-radius: 3px;
border-radius: 3px;  
}

input[type=button]{
margin: 0;
padding:7px 15px; 
background:#FF6633; 
color: #fff;
border:0 none;
cursor:pointer;
-webkit-border-radius: 3px;
border-radius: 3px;  
}

select{
padding:5px; 
color: #000;
width: 264px;
height:30px;
border:1px solid #ccc; 
-webkit-border-radius: 1px;
border-radius: 1px;
}

.btn{
float:left;
width:190px;
height:25xp;	
font-size:15px;
margin: 0;
padding:7px 15px; 
background:#27a387; 
color: #fff;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
cursor:pointer;
border:0 none;
}

.btn:hover{
border:2px solid #FA582F;
border-radius: 5px;
}

.btn:focus{
background:#FA582F; 
border:0px solid #FA582F;
border-radius: 5px;
}

p{
display: block;
margin-top: 2em;
margin-bottom: 2em;
margin-left: 0;
margin-right: 0;
}

h4{
font-size:16px;
}



